@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #1f8a42;
  --color-secondary: #fceea7;
  --color-background-light: #f9fafb;
  --color-surface-light: #ffffff;
  --color-text-light: #111827;
  --color-text-muted-light: #6b7280;
  --color-border-light: #e5e7eb;
}

body {
  font-family: "Inter", sans-serif;
  @apply bg-[var(--color-background-light)] text-[var(--color-text-light)] transition-colors duration-200;
}
